<mat-card *ngIf="!weather">
  <h1>Cities</h1>
  <hr>
  <div class="form-container">
    <mat-form-field>
      <mat-select placeholder="Select" [(ngModel)]="selectedCity">
        <mat-option
          *ngFor="let city of cities; let i = index"
          [value]="city"
          (onSelectionChange)="cityHasBeenSelected(city, $event)"
        >
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>

<app-city-card *ngIf="weather" [cityName]="cityName" [weather]="weather"></app-city-card>
