<mat-card>
  <h1 class="primary">{{city['city']['name']}}</h1>
  <hr>
  <div>
    <mat-tab-group>
      <hr>
      <mat-tab class="mat-tab" *ngFor="let w of city['list']; let i = index" label="{{w['dt'] * 1000 | date}}">
        <mat-grid-list cols="2" rowHeight="10:1">
          <mat-grid-tile>
            <img src="https://www.openweathermap.org/img/w/{{w['weather'][0]['icon']}}.png" alt="">
          </mat-grid-tile>
          <mat-grid-tile>
            <strong>{{w['weather'][0]['main']}}</strong>
          </mat-grid-tile>
          <mat-grid-tile>
            <strong>Highest: {{w['temp']['max']}} C</strong>
          </mat-grid-tile>
          <mat-grid-tile>
            <strong>Lowest: {{w['temp']['min']}} C</strong>
          </mat-grid-tile>
          <mat-grid-tile>
            <strong>Sunrise: {{ w['sunrise'] * 1000 | date: 'hh:mm:ss' }}</strong>
          </mat-grid-tile>
          <mat-grid-tile>
            <strong>Sunset: {{ w['sunset'] * 1000 | date: 'hh:mm:ss' }}</strong>
          </mat-grid-tile>
        </mat-grid-list>
        <hr>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
